*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li a{
text-decoration: none;
color: white;
padding: 8px 25px;
transition: all .5s ease
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* Home Section*/
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(images/bj.jpg.jpg) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 30px;
    text-align: center;
    margin: 40px 0px;
}

/*homepage Section*/
#my{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;

}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
    
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
/* SOCIAL MEDIA SECTION*/
.social-media {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    color: #333; /* Adjust the color as needed */
    font-size: 40px;
    text-decoration: none;
}

.social-media a:hover {
    color: #007bff; /* Adjust the hover color as needed */
}


/* Portfolio section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 300px;
    margin: 10px;
}
/* INFOGRAPHICS */
.infographic {
    margin-top: 20px;
    max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    
}
.infographic img{
    width: 550px;
    height: 900px;
    margin: 10px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}/*Page2*/
#your{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;

}
#pic{
    display: flex;
}
#pic img{
    width: 400px;
    height: 600px;
    
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 20px;
    margin-bottom: 10px;
}/*Flex Page*/
